<a href="https://colab.research.google.com/github/OlgaNezh/Neural_Networks/blob/main/HW3_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Постройте нейронную сеть(берем простую линейную сеть, которую разбирали на уроке: меняем число слоев, число нейронов , типы активации, тип оптимизатора)  на датасет from sklearn.datasets import load_boston.

In [33]:
from tensorflow.keras.layers import Input, Flatten
from tensorflow.keras.models import Model
import tensorflow as tf
from tensorflow import keras

In [34]:
(train_features, train_labels), (test_features, test_labels) = keras.datasets.boston_housing.load_data()

In [41]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=3)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

print('\nTest mae:', test_mae)
print('\nTest mse:', test_mse)

Epoch 1/3
13/13 [==============================] - 0s 3ms/step - loss: 5997.1768 - mae: 68.6800 - mse: 5997.1768
Epoch 2/3
13/13 [==============================] - 0s 3ms/step - loss: 3824.7778 - mae: 53.2709 - mse: 3824.7778
Epoch 3/3
13/13 [==============================] - 0s 2ms/step - loss: 2560.4543 - mae: 43.2818 - mse: 2560.4543
4/4 - 0s - loss: 2082.6909 - mae: 40.0264 - mse: 2082.6909 - 97ms/epoch - 24ms/step

Test mae: 40.02640914916992

Test mse: 2082.69091796875

  2. Измените функцию потерь и метрику для этой задачи. Постройте 10-15 вариантов и сведите результаты их работы в таблицу  Опишите, какого результата вы добились от нейросети? Что помогло вам улучшить ее точность?

In [42]:
import pandas as pd
df = pd.DataFrame(columns=['optimizer', 'layers', 'epochs', 'mae', 'mse'])

In [43]:
df.loc[-1] = ['adam', '2', '3', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [44]:
df

  optimizer layers epochs        mae          mse
0      adam      2      3  40.026409  2082.690918

In [45]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=3)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

Epoch 1/3
13/13 [==============================] - 0s 3ms/step - loss: 1538.6223 - mae: 30.2920 - mse: 1538.6223
Epoch 2/3
13/13 [==============================] - 0s 3ms/step - loss: 455.5097 - mae: 16.9279 - mse: 455.5097
Epoch 3/3
13/13 [==============================] - 0s 3ms/step - loss: 287.3699 - mae: 13.4992 - mse: 287.3699
4/4 - 0s - loss: 249.5071 - mae: 13.1966 - mse: 249.5071 - 107ms/epoch - 27ms/step

In [46]:
df.loc[-1] = ['adam', '5', '3', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [47]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=5)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

Epoch 1/5
13/13 [==============================] - 0s 5ms/step - loss: 1451.3276 - mae: 31.5939 - mse: 1451.3276
Epoch 2/5
13/13 [==============================] - 0s 4ms/step - loss: 254.5409 - mae: 12.8824 - mse: 254.5409
Epoch 3/5
13/13 [==============================] - 0s 5ms/step - loss: 142.2385 - mae: 9.0782 - mse: 142.2385
Epoch 4/5
13/13 [==============================] - 0s 3ms/step - loss: 102.2154 - mae: 8.0192 - mse: 102.2154
Epoch 5/5
13/13 [==============================] - 0s 3ms/step - loss: 84.3572 - mae: 6.6485 - mse: 84.3572
4/4 - 0s - loss: 69.6633 - mae: 6.1924 - mse: 69.6633 - 109ms/epoch - 27ms/step

In [48]:
df.loc[-1] = ['adam', '5', '5', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [49]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=5)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

Epoch 1/5
13/13 [==============================] - 1s 3ms/step - loss: 4966.2954 - mae: 53.5808 - mse: 4966.2954
Epoch 2/5
13/13 [==============================] - 0s 3ms/step - loss: 467.1973 - mae: 17.4985 - mse: 467.1973
Epoch 3/5
13/13 [==============================] - 0s 3ms/step - loss: 197.1447 - mae: 11.1463 - mse: 197.1447
Epoch 4/5
13/13 [==============================] - 0s 3ms/step - loss: 81.2683 - mae: 7.3149 - mse: 81.2683
Epoch 5/5
13/13 [==============================] - 0s 3ms/step - loss: 67.5796 - mae: 5.8916 - mse: 67.5796
4/4 - 0s - loss: 57.5951 - mae: 5.8222 - mse: 57.5951 - 117ms/epoch - 29ms/step

In [50]:
df.loc[-1] = ['adam', '7', '5', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [51]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=10)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

Epoch 1/10
13/13 [==============================] - 1s 3ms/step - loss: 3072.2212 - mae: 42.9633 - mse: 3072.2212
Epoch 2/10
13/13 [==============================] - 0s 3ms/step - loss: 689.8084 - mae: 21.9618 - mse: 689.8084
Epoch 3/10
13/13 [==============================] - 0s 3ms/step - loss: 273.6493 - mae: 13.2729 - mse: 273.6493
Epoch 4/10
13/13 [==============================] - 0s 3ms/step - loss: 152.9587 - mae: 9.3948 - mse: 152.9587
Epoch 5/10
13/13 [==============================] - 0s 3ms/step - loss: 133.2682 - mae: 9.3084 - mse: 133.2682
Epoch 6/10
13/13 [==============================] - 0s 3ms/step - loss: 112.9546 - mae: 8.4634 - mse: 112.9546
Epoch 7/10
13/13 [==============================] - 0s 3ms/step - loss: 101.3648 - mae: 7.8271 - mse: 101.3648
Epoch 8/10
13/13 [==============================] - 0s 3ms/step - loss: 91.0179 - mae: 7.3587 - mse: 91.0179
Epoch 9/10
13/13 [==============================] - 0s 3ms/step - loss: 82.5232 - mae: 6.8277 - mse: 82.5232
Epoch 10/10
13/13 [==============================] - 0s 3ms/step - loss: 79.7404 - mae: 6.7779 - mse: 79.7404
4/4 - 0s - loss: 75.8774 - mae: 6.7086 - mse: 75.8774 - 120ms/epoch - 30ms/step

In [52]:
df.loc[-1] = ['adam', '7', '10', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [53]:
model = keras.Sequential([
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(20),
    keras.layers.Dense(1)
])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mae', 'mse'])

model.fit(train_features, train_labels, epochs=15)

test_loss, test_mae, test_mse = model.evaluate(test_features, test_labels, verbose=2)

Epoch 1/15
13/13 [==============================] - 1s 3ms/step - loss: 3219.0742 - mae: 45.9669 - mse: 3219.0742
Epoch 2/15
13/13 [==============================] - 0s 3ms/step - loss: 417.7112 - mae: 17.3258 - mse: 417.7112
Epoch 3/15
13/13 [==============================] - 0s 3ms/step - loss: 174.7261 - mae: 11.0718 - mse: 174.7261
Epoch 4/15
13/13 [==============================] - 0s 3ms/step - loss: 100.1059 - mae: 7.1868 - mse: 100.1059
Epoch 5/15
13/13 [==============================] - 0s 3ms/step - loss: 79.0661 - mae: 6.9539 - mse: 79.0661
Epoch 6/15
13/13 [==============================] - 0s 3ms/step - loss: 71.4384 - mae: 5.8236 - mse: 71.4384
Epoch 7/15
13/13 [==============================] - 0s 3ms/step - loss: 66.9026 - mae: 6.1863 - mse: 66.9026
Epoch 8/15
13/13 [==============================] - 0s 3ms/step - loss: 63.1222 - mae: 5.7463 - mse: 63.1222
Epoch 9/15
13/13 [==============================] - 0s 3ms/step - loss: 60.1983 - mae: 5.6810 - mse: 60.1983
Epoch 10/15
13/13 [==============================] - 0s 3ms/step - loss: 58.3246 - mae: 5.4847 - mse: 58.3246
Epoch 11/15
13/13 [==============================] - 0s 3ms/step - loss: 56.5915 - mae: 5.4868 - mse: 56.5915
Epoch 12/15
13/13 [==============================] - 0s 3ms/step - loss: 56.7966 - mae: 5.4978 - mse: 56.7966
Epoch 13/15
13/13 [==============================] - 0s 3ms/step - loss: 55.2034 - mae: 5.1149 - mse: 55.2034
Epoch 14/15
13/13 [==============================] - 0s 3ms/step - loss: 54.7132 - mae: 5.3260 - mse: 54.7132
Epoch 15/15
13/13 [==============================] - 0s 3ms/step - loss: 52.0410 - mae: 5.0321 - mse: 52.0410
4/4 - 0s - loss: 58.6698 - mae: 5.8525 - mse: 58.6698 - 112ms/epoch - 28ms/step

In [54]:
df.loc[-1] = ['adam', '7', '15', test_mae, test_mse]
df.index = df.index + 1
df = df.sort_index()

In [55]:
df

  optimizer layers epochs        mae          mse
0      adam      7     15   5.852481    58.669827
1      adam      7     10   6.708601    75.877434
2      adam      7      5   5.822210    57.595119
3      adam      5      5   6.192352    69.663300
4      adam      5      3  13.196624   249.507080
5      adam      2      3  40.026409  2082.690918